<html>
  <head>
  <link href="<%= url('css/style.css') %>" rel="stylesheet" type="text/css" />  </head>
  <body>
    <% if session[:user_id]  %>
      <p>Good job! You're logged in!</p> <br>
      <a href="/session/destroy">Wanna logout?!</a>
    <% else %>
      <a href="/registration/signup">Join karaokay!</a>
    <% end %>
    <%= yield %>
  </body>
</html>
